.credits {
    display: flex;
    justify-content: space-between;
}

.credits .creditsText {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-style: italic;
    color: white;
    text-shadow: 0 0 3px #555;
	text-shadow: 2px 2px 4px #000000;
}

.credits .creditsText .mail a:hover{
	color: black;
    transition: .2s ease-in-out;
    transform: scale(1.1) translate(-5px, -5px);
    box-shadow: 0 0 10px 0 black;
}

.credits .creditsText .mail a:link{
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 600;
    font-style: italic;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    text-decoration: none;
}

.credits .creditsText .mail a:visited{
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 600;
    font-style: italic;
    color: #222;
    //text-shadow: 0 0 3px #555;
	text-shadow: 2px 2px 4px #000000;
    text-decoration: none;
}

.credits .creditsText .mail a:active{
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 600;
    font-style: italic;
    color: #222;
	text-shadow: 2px 2px 4px #000000;
    text-decoration: none;
}

.credits .creditsText .phone a:hover{
    transition: .2s ease-in-out;
    transform: scale(1.1) translate(-5px, -5px);
    box-shadow: 0 0 10px 0 black;
}

.credits .creditsText .phone a:link{
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 600;
    font-style: italic;
    color: white;
	text-shadow: 2px 2px 4px #000000;
    text-decoration: none;
}

.credits .creditsText .phone a:visited{
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 600;
    font-style: italic;
    color: #222;
    text-shadow: 0 0 3px #555;
    text-decoration: none;
}

.credits .creditsText .phone a:active{
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 600;
    font-style: italic;
    color: #222;
    text-shadow: 0 0 3px #555;
    text-decoration: none;
}

.h3{
    display: flex;
    font-size: 20px;
    margin-top: 2px;
    margin-bottom: 2px;
    font-weight: 700;
}