#main > nav {
    display: flex;
    align-items: stretch;
    justify-content: center;

}

#main > nav a {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    flex-direction: column;
    background: rgba(180, 180, 180, 0.5);
    font-size: 50px;
    min-height: 150px;
    text-align: center;
}

#main > nav a:first-child{
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

#main > nav a:last-child{
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

#main > nav a:hover {
    background: #E7E7E7;
}

.quote {
    display: flex;
    justify-content: center;
}

.quote img {
    width: 30%;
    height: 30%;
}
