@font-face{
	font-family: "Avantgarde";
	src: url("res/AVANTN.ttf");
}

html {
    margin-left: calc(100vw - 100%);
}

body {
    background: linear-gradient(#ffcc99 0%, #ffbf80 20%, #ffb366 40%, #ffa64d 60%, #ff9933 80%, #ff8c1a 100%) fixed;
	background-image: url("res/Spices_Cinnamon_505758.jpg");
	background-position: center top; 
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}

/* Logo Image */
.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Text Area */
.textArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    size: auto;
    font-weight: 700;
    font-family: Consolas;
    font-style: italic;
    font-size: 25px;
    padding: 10px;
	color:white;
	text-shadow: 3px 3px 5px #000000
}

.recipeName {
    resize: none;
    width: 25em;
    padding: 7px;
    font-family: Avantgarde;
    font-style: italic;
    font-size: 16px;
    color: black;
    background: #ffcc99;
}

.recipeImage {
    resize: none;
    width: 25em;
    padding: 7px;
    font-family: Avantgarde;
    font-style: italic;
    font-size: 16px;
    color: black;
    background: #ffcc99;
}

.area {
    resize: none;
    width: 25em;
    height: 10em;
    padding: 7px;
    font-family: Avantgarde;
	font-style: italic;
    font-size: 16px;
    color: black;
    background: #ffcc99;
}

.area#instructionArea {
    background-image: url("res/instructionArea.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200px 200px;
}

.area#ingredientsArea {
    background-image: url("res/ingredientsArea.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 400px 200px;
}

.area#descriptionArea {
    background-image: url("res/descriptionArea.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200px 200px;
}

.recipeName::placeholder {
    color: black;
}

.recipeImage::placeholder {
    color: black;
}

.area::placeholder {
    color: black;
}

.addButton {
    display: inline-block;
    justify-content: center;
    margin: 10px 10px;
    color: white;
	text-shadow: 2px 2px 4px #000000;
    text-transform: uppercase;
    background: transparent;
    border: 4px solid #211e1d;
    border-radius: 6px;
    padding: 10px 15px;
    font-family: Comic Sans MS;
}

.addButton:hover {
    color: #000000;
    background: #dd5a08;
    border-color: #dd5a08;
    transition: all 0.4s ease 0s;
    cursor: pointer;
}

/* Search Area */
.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
    font-family: Consolas;
    font-style: italic;
    font-size: 25px;
    padding: 10px;
	color:white;
	text-shadow: 2px 2px 4px #000000
}

.bar {
    width: 500px;
    font-size: 19px;
    background-image: url("res/searchBarBackground.jpg");
    background-position: center;
    background-size: 500px 500px;
}

.bar::placeholder {
    color: black;
    font-family: Avantgarde;
    font-style: italic;
    font-weight: 600;
}

/* Buttons */
.buttonDiv {
    display: flex;
    justify-content: center;
    margin: 10px 10px;
}

.pageButton {
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    background-image: linear-gradient(to right, #a1c4fd 0%, #8fd3f4 51%, #84fab0 100%);
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-family: Comic Sans MS;
    box-shadow: 0 0 20px #111111;
    border-radius: 10px;
}

.pageButton:hover {
    background-position: right center;
    background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #a1c4fd 100%);
}

/* Page Credits */
.credits {
    display: flex;
    justify-content: space-between;
}

.credits .tulogo {
    margin-top: 5px;
	height: 100px;
	width: 100px;
}

.credits .tulogo:hover{
    transition: .2s ease-in-out;
    transform: scale(1.1) translate(-5px, -5px);
    box-shadow: 0 0 10px 0 black;
}

.credits .creditsText {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-style: italic;
    color: white;
    //text-shadow: 0 0 3px #555;
	text-shadow: 2px 2px 4px #000000;
}

/* Mail Feature */
.credits .creditsText .mail a:hover{
    box-shadow: 0 0 10px 0 black;
	color: black;
}

.credits .creditsText .mail a:link{
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 600;
    font-style: italic;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    text-decoration: none;
}

.credits .creditsText .mail a:visited{
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 600;
    font-style: italic;
    color: #222;
    //text-shadow: 0 0 3px #555;
	text-shadow: 2px 2px 4px #000000;
    text-decoration: none;
}

.credits .creditsText .mail a:active{
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 600;
    font-style: italic;
    color: #222;
	text-shadow: 2px 2px 4px #000000;
    text-decoration: none;
}

/* Telephone Feature */
.credits .creditsText .phone a:hover{
    box-shadow: 0 0 10px 0 black;
}

.credits .creditsText .phone a:link{
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 600;
    font-style: italic;
    color: white;
	text-shadow: 2px 2px 4px #000000;
    text-decoration: none;
}

.credits .creditsText .phone a:visited{
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 600;
    font-style: italic;
    color: #222;
    text-shadow: 0 0 3px #555;
    text-decoration: none;
}

.credits .creditsText .phone a:active{
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 600;
    font-style: italic;
    color: #222;
    text-shadow: 0 0 3px #555;
    text-decoration: none;
}

.h3{
    display: flex;
    font-size: 20px;
    margin-top: 2px;
    margin-bottom: 2px;
    font-weight: 700;
}

.line {
	border-top: 2px solid gray;
}

/* Search Results  */
.results {
    margin: 40px 80px 0 80px;
    display: flex;
    min-width: 190px;
    max-width: 90%;
    min-height: 100px;
    flex-wrap: wrap;
    justify-content: center;
}

.results .card {
    width: 180px;
    height: 240px;
    margin: 10px;
    border-radius: 12px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.37);
    background: #ffb237;
    transition: all .2s ease-in-out;
    border: 10px solid #ffb237;
	z-index: 0;
}

.results .card:hover {
    transition: all .2s ease-in-out;
    transform: translateY(-5px);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.55);
    cursor: pointer;

}

.results .card .image {
    padding: 5px 5px 5px 5px;
    height: 180px;
    border-radius: 12px 12px 0 0;
    background-repeat: no-repeat;
    background-position: center;
}

.results .card .title {
    padding-top: 2px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    height: 60px;
    font: 14pt Arial;
    color: #FFF;
    border-top: 4px solid #EEE;
}

/* Hidden Object */
.wrapper{
	position: fixed;
	visibility: hidden;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(17, 17, 17, 0.8);
}

.visible{
	visibility: visible;
}

/* Recipe Zoomed Card */
.recipeObject {
	position: fixed;
	width: 700px;
	height: 600px;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	background: #ffb237;
	border-radius: 50px;
	z-index: 1;
}

.wrapper .recipeObject .image {
    padding: 5px 5px 5px 5px;
    height: 180px;
    border-radius: 12px 12px 0 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.wrapper .recipeObject .title {
    padding-top: 2px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    text-align: center;
    height: 60px;
    font: 14pt Arial;
    color: #FFF;
    border-top: 4px solid #EEE;    
}

.wrapper .recipeObject .description {
    padding-top: 2px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    text-align: center;
    height: 60px;
    font: 14pt Arial;
    color: #FFF;
    border-top: 4px solid #EEE;    
}

.wrapper .recipeObject .ingredients {
    padding-top: 2px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    text-align: center;
    height: 60px;
    font: 14pt Arial;
    color: #FFF;
    border-top: 4px solid #EEE;    
}

.wrapper .recipeObject .guide {
    padding-top: 2px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;    
    text-align: center;
    height: 60px;
    font: 14pt Arial;
    color: #FFF;
    border-top: 4px solid #EEE;    
}




