html{
	margin-left: calc(100vw - 100%);
}

body{
	background: linear-gradient(#ffcc99 0%, #ffbf80 20%, #ffb366 40%, #ffa64d 60%, #ff9933 80%, #ff8c1a 100%) fixed;
}

.logo{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.textArea{
	display: flex;
	flex-direction: column;
	align-items: center;
	size: auto;
}

.descrArea{
	resize: none;
	width: 25em;
	height: 10em;
}

.ingrArea{
	resize: none;
	width: 25em;
	height: 10em;
}

.instrArea{
	resize: none;
	width: 25em;
	height: 10em;
}

.search{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.search input[type = "text"]{
	width: 500px;
}

.buttonDiv{
	display: flex;
	justify-content: center;
	margin: 10px 10px;	
}

.pageButton{
	margin-left: 10px;
	margin-right: 10px;
	diplay: inline-block;
	background-image: linear-gradient(to right, #a1c4fd 0%, #8fd3f4 51%, #84fab0 100%);
	color: black;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	font-family: Comic Sans MS;
	box-shadow: 0 0 20px #111111;
	border-radius: 10px;
	transition: 0.5s;
}

.pageButton:hover{
	background-position: right center;
	background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #a1c4fd 100%);
}
