section {
    display: flex;
    width: 850px;
    align-self: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;

    font-size: 18px;
}

section .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
}

section .title span {
    flex-grow: 1;
}

section .title a {
    flex-grow: 0;
}

section .main-image {
    min-width: 100px;
    min-height: 100px;
    max-width: 400px;
    max-height: 400px;
}

section .images {
    min-height: 64px;
    min-width: 64px;
}

section .images img {
    width: 64px;
    height: 64px;
}

section .datalist {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-top: 5px;
    margin-left: 5px;
}

section .datalist div {
    display: flex;
}

section .datalist div span:first-child {
    min-width: 170px;
}

#description{
    margin-top: 24px;
}

#re-description {
    margin-left: 9px;
    width: 850px;
    min-height: 150px;
}